# Fake News Prediction using Classification models

#### importing the dataset

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer

In [10]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [11]:
print(stopwords.words("english"))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [2]:
df = pd.read_csv(r"C:\Users\User\Desktop\study material\projects\datasets\Fake news prediction\train.csv")

In [3]:
df.head(4)

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1

#### Data Preporcessing

In [6]:
df.shape

(20800, 5)

In [7]:
df.describe()

                 id         label
count  20800.000000  20800.000000
mean   10399.500000      0.500625
std     6004.587135      0.500012
min        0.000000      0.000000
25%     5199.750000      0.000000
50%    10399.500000      1.000000
75%    15599.250000      1.000000
max    20799.000000      1.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [5]:
df.isna().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [12]:
df.dropna(inplace= True)

In [13]:
df.shape

(18285, 5)

In [14]:
df.duplicated().sum()

0

#### merging the author and title and text column

In [15]:
df["content"] = df["title"] + " " +  df["author"] + " " +  df["text"]

In [16]:
df.head(5)

,id,title,author,text,label,content
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,"FLYNN: Hillary Clinton, Big Woman on Campus - ..."
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,Why the Truth Might Get You Fired Consortiumne...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,15 Civilians Killed In Single US Airstrike Hav...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,Iranian woman jailed for fictional unpublished...

In [17]:
x = df.drop(columns= "label", axis =1)
y = df["label"]

#### Stemming

In [18]:
ps = PorterStemmer()

In [20]:
def stemming(content):
    stemmed_content = re.sub("[^A-Za-z0-9]",' ', content )
    stemmed_content = stemmed_content.lower()
    stemmed_content = stemmed_content.split()
    stemmed_content = [ps.stem(word) for word in stemmed_content if not word in stopwords.words("english")]
    stemmed_content = ' '.join(stemmed_content)
    return stemmed_content

In [21]:
df["content"] = df["content"].apply(stemming)

In [22]:
print(df["content"])

0        hous dem aid even see comey letter jason chaff...
1        flynn hillari clinton big woman campu breitbar...
2        truth might get fire consortiumnew com truth m...
3        15 civilian kill singl us airstrik identifi je...
4        iranian woman jail fiction unpublish stori wom...
                               ...
20795    rapper trump poster child white supremaci jero...
20796    n f l playoff schedul matchup odd new york tim...
20797    maci said receiv takeov approach hudson bay ne...
20798    nato russia hold parallel exercis balkan alex ...
20799    keep f 35 aliv david swanson david swanson aut...
Name: content, Length: 18285, dtype: object

In [25]:
X = df["content"].values
Y = df["label"].values

#### converting text data in num

In [26]:
tf = TfidfVectorizer()
tf.fit(X)
X = tf.transform(X)

In [28]:
print(X)

  (0, 107246)	0.04890065964459447
  (0, 107200)	0.018684647723304828
  (0, 106342)	0.04398359916519669
  (0, 106338)	0.0944983670956208
  (0, 106296)	0.03730882268614701
  (0, 106261)	0.011094824329227872
  (0, 105650)	0.0170332901845582
  (0, 104876)	0.01690386848931216
  (0, 104787)	0.012410092938853753
  (0, 104706)	0.02956878176813954
  (0, 104633)	0.012582873494390948
  (0, 104451)	0.011553910843009023
  (0, 103670)	0.02545972684302772
  (0, 103635)	0.03131086750697757
  (0, 102718)	0.02148776979092501
  (0, 101429)	0.06504343369080941
  (0, 100774)	0.033159109610271104
  (0, 100530)	0.016108924891248
  (0, 99780)	0.03791058252034337
  (0, 99165)	0.010851122131580057
  (0, 99156)	0.041979754817467706
  (0, 99104)	0.13541692493258328
  (0, 98963)	0.07022008587714786
  (0, 97761)	0.03935972957054204
  (0, 97233)	0.026841861645598455
  :	:
  (18284, 5499)	0.02779693982754769
  (18284, 5457)	0.03149290540045579
  (18284, 5400)	0.03176752141711264
  (18284, 4603)	0.017830970843873535
  (18284, 4488)	0.03610732942910785
  (18284, 4461)	0.012936741030363857
  (18284, 4406)	0.039647721441138616
  (18284, 4171)	0.023152658423107857
  (18284, 3945)	0.014469072366798352
  (18284, 3927)	0.01792034809500564
  (18284, 3504)	0.031298793212276854
  (18284, 3405)	0.020446500700608185
  (18284, 3337)	0.031355793962813086
  (18284, 2368)	0.03213738468513227
  (18284, 2096)	0.021640116865857345
  (18284, 2056)	0.04790127899813966
  (18284, 1915)	0.28794010330970243
  (18284, 1803)	0.020183885157785908
  (18284, 1758)	0.014909972998421462
  (18284, 1270)	0.0213609022994782
  (18284, 1267)	0.028938144733596703
  (18284, 1236)	0.022816834356326695
  (18284, 593)	0.03785841227295261
  (18284, 330)	0.014979852175709126
  (18284, 1)	0.03679206998151468

#### Training the data

In [29]:
from sklearn.model_selection import train_test_split

In [31]:
x_train , x_test , y_train , y_test = train_test_split(X,Y, test_size=0.20 ,stratify=Y, random_state=42)

### Logistic Regression

In [32]:
from sklearn.linear_model import LogisticRegression

In [33]:
lr = LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression()

In [34]:
lr.score(x_test,y_test)

0.9693738036642057

In [35]:
lr.score(x_train,y_train)

0.9806535411539513

In [36]:
x_new = x_test[0]

pred = lr.predict(x_new)
print(pred)

if(pred[0]==0):
    print("the news is real")
else:
    print("the news is not real")

[0]
the news is real

In [37]:
print(y_test[0])

0